@page "/Account/Lockout"

<PageTitle>Аккаунт заблокирован</PageTitle>

<header>
    <h1 class="text-danger">Аккаунт временно заблокирован</h1>
    <p class="text-danger">Ваш аккаунт был временно заблокирован по соображениям безопасности. Пожалуйста, попробуйте позже.</p>
</header>