@page "/Account/LoginWithRecoveryCode"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using TestCompanyCleaning.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWithRecoveryCode> Logger

<PageTitle>Проверка резервного кода</PageTitle>

<h1>Проверка резервного кода</h1>
<hr />
<StatusMessage Message="@message" />
<p>
    Вы запросили вход с использованием резервного кода. Этот вход не будет запомнен, пока вы не предоставите
    код из приложения-аутентификатора при следующем входе или не отключите двухфакторную аутентификацию.
</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="РезервныйКод" />
                <label for="recovery-code" class="form-label">Резервный код</label>
                <ValidationMessage For="() => Input.RecoveryCode" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
        </EditForm>
    </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Не удалось загрузить пользователя для двухфакторной аутентификации.");
    }

    private async Task OnValidSubmitAsync()
    {
        var recoveryCode = Input.RecoveryCode.Replace(" ", string.Empty);

        var result = await SignInManager.TwoFactorRecoveryCodeSignInAsync(recoveryCode);

        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Пользователь с ID '{UserId}' вошел с использованием резервного кода.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Аккаунт пользователя заблокирован.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Введен неверный резервный код для пользователя с ID '{UserId}'", userId);
            message = "Ошибка: Введен неверный резервный код.";
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Необходимо ввести резервный код")]
        [DataType(DataType.Text)]
        [Display(Name = "Резервный код")]
        public string RecoveryCode { get; set; } = "";
    }
}