@* @page "/Account/LoginWith2fa"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using TestCompanyCleaning.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>Двухфакторная аутентификация</PageTitle>

<h1>Двухфакторная аутентификация</h1>
<hr />
<StatusMessage Message="@message" />
<p>Ваш вход защищен приложением-аутентификатором. Введите код из приложения ниже.</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label for="two-factor-code" class="form-label">Код аутентификатора</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Запомнить это устройство
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
            </div>
        </EditForm>
    </div>
</div>
<p>
    Нет доступа к устройству аутентификации? Вы можете
    <a href="Account/LoginWithRecoveryCode?ReturnUrl=@ReturnUrl">войти с использованием резервного кода</a>.
</p>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        // Убедимся, что пользователь прошел экран ввода логина и пароля
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Не удалось загрузить пользователя для двухфакторной аутентификации.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Пользователь с ID '{UserId}' вошел с использованием 2FA.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Аккаунт пользователя с ID '{UserId}' заблокирован.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Введен неверный код аутентификатора для пользователя с ID '{UserId}'.", userId);
            message = "Ошибка: Неверный код аутентификатора.";
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Поле обязательно для заполнения")]
        [StringLength(7, ErrorMessage = "Код должен быть от {2} до {1} символов.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Код аутентификатора")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Запомнить это устройство")]
        public bool RememberMachine { get; set; }
    }
} *@