@page "/Account/Manage/Disable2fa"

@using Microsoft.AspNetCore.Identity
@using TestCompanyCleaning.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Отключение двухфакторной аутентификации (2FA)</PageTitle>

<StatusMessage />
<h3>Отключение двухфакторной аутентификации (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие только отключает 2FA.</strong>
    </p>
    <p>
        Отключение 2FA не изменяет ключи, используемые в приложениях-аутентификаторах. Если вы хотите изменить ключ
        в приложении-аутентификаторе, вам следует <a href="Account/Manage/ResetAuthenticator">сбросить ключи аутентификатора</a>.
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Отключить 2FA</button>
    </form>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Невозможно отключить 2FA, так как она в данный момент не активирована.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Произошла непредвиденная ошибка при отключении 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' отключил двухфакторную аутентификацию.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "2FA была отключена. Вы можете снова включить 2FA при настройке приложения-аутентификатора",
            HttpContext);
    }
}