@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using TestCompanyCleaning.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Сброс ключа аутентификатора</PageTitle>

<StatusMessage />
<h3>Сброс ключа аутентификатора</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>При сбросе ключа ваше приложение-аутентификатор перестанет работать, пока вы не настроите его заново.</strong>
    </p>
    <p>
        Этот процесс отключает двухфакторную аутентификацию до подтверждения нового ключа.
        Если вы не завершите настройку приложения-аутентификатора, вы можете потерять доступ к аккаунту.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Сбросить ключ аутентификатора</button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' сбросил ключ приложения-аутентификатора.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "Ключ вашего приложения-аутентификатора был сброшен. Необходимо настроить приложение с новым ключом.",
            HttpContext);
    }
}